<div id="footer" >
	<% if(theme.author_img_enable == true){ %>
	<div class="line">
		<span></span>
		<div class="author"></div>
	</div>
	<% } %>
	<% if(theme.author.intro_line1&&theme.author.intro_line2){ %>
	<section class="info">
		<p> <%= theme.author.intro_line1 %> <br/>
			<%= theme.author.intro_line2 %></p>
	</section>
	 <% } %>
	<div class="social-font" class="clearfix">
		<% if(theme.author.weibo){ %>
		<a href="http://weibo.com/<%= theme.author.weibo %>" target="_blank" title="weibo"></a>
		<% } %>
		<% if(theme.author.twitter){ %>
		<a href="https://twitter.com/<%=theme.author.twitter %>" target="_blank" title="twitter"></a>
		<% } %>
		<% if(theme.author.github){ %>
		<a href="https://github.com/<%=theme.author.github %>" target="_blank" title="github"></a>
		<% } %>
		<% if(theme.author.facebook){ %>
		<a href="https://www.facebook.com/<%=theme.author.facebook %>" target="_blank" title="facebook"></a>
		<% } %>
	</div>
		<p class="copyright">© <%= new Date().getFullYear() %> 
		<% if (config.author) { %>
		<a href="<%= config.url %>" target="_blank" title="<%= config.author %>"><%= config.author %></a>
		<% } else {%>
		<a href="<%= config.url %>" title="<%= config.title %>"><%= config.title %></a>
		<% } %>
		</p>

	<div id="gotop"><img src="/img/top.png" alt="返回顶部" title="返回顶部"/></div>
	<script>
	/*返回顶部JS*/
	backTop = function (btnId){
		var btn = document.getElementById(btnId);
		var d = document.documentElement;
		var b = document.body;
		window.onscroll = btnDisplay;
		btn.onclick = function (){
			btn.style.display = "none";
			window.onscroll = null;
			this.timer = setInterval(function(){
				d.scrollTop -= Math.ceil((d.scrollTop+b.scrollTop)*0.1);
				b.scrollTop -= Math.ceil((d.scrollTop+b.scrollTop)*0.1);
				if((d.scrollTop + b.scrollTop) == 0) 
					clearInterval(btn.timer,window.onscroll = btnDisplay);
			},10);
		};
		function btnDisplay(){
			btn.style.display=(d.scrollTop+b.scrollTop>200)?'block':"none";
		}
	};
	backTop('gotop');//返回顶部调用
	</script>

</div>
